<div class="p-4">
    <div class="container">
        <h1>Hi {{user.firstName}}!</h1>
        <p>You're logged in with Angular 9!!</p>
        <p><a routerLink="/users">Manage Users</a></p>
    </div>
    <table>
        <tr>
          <th><img [src]="transform()" height="360" width="640" alt="shitme"></th>
          <th>PlaceHolder</th>
          <th><img [src]="transform2()" height="360" width="640" alt="shitme2"></th>
          <th>PlaceHolder</th>
          <th><img [src]="transform3()" height="360" width="640" alt="shitme3"></th>
        </tr>
    </table>
    <body>

      <button (click)="setSaving($event.target, true)">Recording Mode = On</button>

      <button button type="submit" style="font-size:50px; width: 100%; height: 100px;" (click)="getAllRecords()">GetRecords</button>
      <a download="FILENAME.jpg" [href]="transform2()">Download</a>
      <div [innerHTML]="tool | safeHtml"></div>

      <div><label>sensorValue1 {{sensor1}}</label></div>
      <div><label>sensorValue2 {{sensor2}}</label></div>
      <div><label>NotificationSystem {{notificationLabel}}</label></div>
      <button (click)="notificationSystem($event.target, true)" color="primary">Toggle NotificationSystem</button>

      <button mat-raised-button
              [style.background-color]="btnColour"
              >START</button>

      <button (click)="onAlarm($event.target, true)" color="primary">Alarm = On</button>
      <button (click)="offAlarm($event.target, true)" color="green">Alarm = Off</button>
      <button (click)="setCabinet($event.target, true)">Cabinet Light</button>
      <button (click)="resetCamera($event.target)">Reset Camera</button>

    </body>



    <div class="grid-container">
        <div class="grid-item">1</div>
        <div class="grid-item"><button button type="submit" style="font-size:50px; width: 100%; height: 100px;" (click)="sendMsg('1')">Up</button></div>
        <div class="grid-item">3</div>  
        <div class="grid-item"><button button type="submit" style="font-size:50px; width: 100%; height: 100px;" (click)="sendMsg('3')">Left</button></div>
        <div class="grid-item">5</div>
        <div class="grid-item"><button button type="submit" style="font-size:50px; width: 100%; height: 100px;" (click)="sendMsg('4')">Right</button></div>  
        <div class="grid-item">7</div>
        <div class="grid-item"><button button type="submit" style="font-size:50px; width: 100%; height: 100px;" (click)="sendMsg('2')">Down</button></div>
        <div class="grid-item">9</div>  
      </div>
</div>
